@include respond(tab-port) {
  
  nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: $color-blue-light;
    z-index: 1;
    // width:auto;
  }

  .nav-links{
    grid-column: 1/-1;
    display: grid;
    position: fixed;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    grid-auto-flow: row;
    background-color: $color-blue-light;
    z-index: 1;

    clip-path: circle(100px at 100% -50%);
    -webkit-clip-path:circle(100px at 100% -50%);
    transition: all .5s ease-out;    
  }

  .header__nav--link {
    color: white;
    margin: 0;
    width: 100%;
  }

  .header__logo{
    width: 90%;
    
    &--img{
      margin-left: 50px;
    }
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 7%;
    top: 12%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

 .line {
   display: grid;
   grid-row: 1/2;
   width: 30px;
   height:3px;
   background: white;
   margin: 5px;
 }

  .nav-links.open{
    
    clip-path: circle(2000px at 90% -50%);
    -webkit-clip-path:circle(2000px at 90% -50%);
  }

  .header__logo.hide{
    display:none;
    transition: all 1s ease-in;
    transition-delay:1s;
  }
}

@include respond(iphone) {

  .header__nav--link {
    color: white;
    margin: 0;
  }
  
  .nav-links{
    width: 110%;
    
  }

  .hamburger {
    right: 9%;
    top: 10%;
  }

  .header__logo{
    width: 60%;
    &--img{
      margin-left: 7rem;
    }
  }
}
