.service {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(3, 1fr);
  grid-gap: 10rem;
  margin: 5rem 0;
  padding-bottom: 8rem;

  &__main--heading {
    grid-row: 1/2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    font-weight: 200;
  }

  &__heading {
    &--1 {
      grid-column: 1 / 2;
      font-size: 2.4rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      margin-right: 10rem;

      color: $color-primary;
      position: absolute;
      top: 12rem;
      right: 3rem;
      display: grid;
      width: 100%;
    }

    &--2 {
      grid-column: 2 / 3;
      font-size: 2.4rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: left;
      margin-left: 15rem;

      color: $color-primary;
      position: absolute;
      top: 12rem;
 
      display: grid;
      width: 100%;
    }
  }

  &--1 {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: $color-pink-2;
    position: relative;
    box-shadow: $box-shadow-primary;
    border-radius: 10px;
  }

  &--2 {
    display: grid;
    grid-template-columns: 1fr 33%;
    grid-row: 3/4;
    grid-column: 1/-1;
    background-color: $color-blue-light;
    position: relative;
    box-shadow: $box-shadow-primary;
    border-radius: 10px;
  }

  &--3 {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-row: 4/5;
    grid-column: 1/-1;
    background-color: $color-pink-3;
    position: relative;
    box-shadow: $box-shadow-primary;
    border-radius: 10px;
  }

  &__details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    &--description {
      grid-row: 1/2;
      font-size: 1.5rem;
      font-weight: 400;
      color: $color-white;
      padding: 1rem;
      line-height: 3rem;
      
      padding: 2rem;
      justify-content: center;
      margin-top: 2rem;
      margin-right: 2rem;

      &-1 {
        text-align: right;
      }

      &-2 {
        text-align: left;
        margin-right: 0rem;
        margin-left: 2rem;
      }
    }

    &--bullets {
      display: grid;
      grid-row: 2/3;
      grid-template-columns: repeat(2, 1fr);
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-white;
      padding: 1rem;
      line-height: 3rem;

      &-blue {
        margin-left: 5rem;
      }

      &--1 {
        grid-column: 1/2;
        margin-right: 2.5rem;
      }

      &--2 {
        grid-column: 2/3;
      }
    }
    &--1 {
      grid-row: 1 / 2;
      grid-column: 2 / -1;
    }

    &--2 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
  }

  &__picture {
    display: grid;
    width: 100%;
    background-size: cover;
    height: auto;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      background-image: linear-gradient(
          rgba($color-white, 0.6),
          rgba($color-white, 0.6)
        ),
        url(../img/flowers.jpg);
    }
    &--2 {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
      background-image: linear-gradient(
          rgba($color-white, 0.6),
          rgba($color-white, 0.6)
        ),
        url(../img/flower-3.jpg);
    }
    &--3 {
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      background-image: linear-gradient(
          rgba($color-white, 0.6),
          rgba($color-white, 0.6)
        ),
        url(../img/flower-4.jpg);
    }
  }
}

.btn__cont {
  display: grid;
  grid-row: 3/4;

  &-1 {
    justify-content: end;
    align-content: center;
    margin-right: 10rem;
  }

  &-2 {
    justify-content: start;
    align-content: center;
    margin-left: 10rem;
  }
}

@include respond(tab-2){
  .service {
    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(3, 1fr);
    grid-gap: 10rem;
    margin: 5rem 0;
    padding-bottom: 8rem;
  
    &__main--heading {
      grid-row: 1/2;
      grid-column: 1 / -1;
      justify-self: center;
      align-self: center;
      font-weight: 200;
    }
  
    &__heading {
      &--1 {
        text-align: right;
        margin-right: 10rem;
  
        color: $color-primary;
        position: absolute;
        top: 6rem;
        right: 0rem;
        margin-right: 3rem;
      }
  
      &--2 {
        
        text-align: left;
        margin-left: 10rem;
  
        color: $color-primary;
        position: absolute;
        top: 6rem;
      }
    }
}
}

@include respond(tab-port){
  .service{
    grid-template-columns: center-start / center-end;
    &--1 {
      display: grid;
      
      grid-template-rows: 15% max-content 1fr;
      grid-row: 2/3;
      grid-column: 1/-1;
      background-color: $color-pink-2;
      position: relative;
      box-shadow: $box-shadow-primary;
      border-radius: 10px;
      position: relative;
    }
  
    &--2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 15% 1fr;
      grid-row: 3/4;
      grid-column: 1/-1;
      background-color: $color-blue-light;
      position: relative;
      box-shadow: $box-shadow-primary;
      border-radius: 10px;
    }
  
    &--3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 15% 1fr;
      grid-row: 4/5;
      grid-column: 1/-1;
      background-color: $color-pink-3;
      position: relative;
      box-shadow: $box-shadow-primary;
      border-radius: 10px;
    }
  
  &__picture {
    display: grid;
    width: 100%;
    background-size: cover;
    height: auto;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    

    &--1 {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
      background-image: linear-gradient(
          rgba($color-white, 0.6),
          rgba($color-white, 0.6)
        ),
        url(../img/flowers.jpg);
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    &--2 {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
      background-image: linear-gradient(
          rgba($color-white, 0.6),
          rgba($color-white, 0.6)
        ),
        url(../img/flower-3.jpg);
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    &--3 {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
      background-image: linear-gradient(
          rgba($color-white, 0.6),
          rgba($color-white, 0.6)
        ),
        url(../img/flower-4.jpg);
        grid-row: 1/2;
        grid-column: 1/-1;
    }
  }

  &__details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    &--1{
      grid-row: 2/3;
      grid-column: 1/-1;
    }
    &--2{
      grid-row: 2/3;
      grid-column: 1/-1;
    }
    &--3{
      grid-row: 2/3;
      grid-column: 1/-1;
    }

    &--description {
      grid-row: 1/2;
      font-size: 1.5rem;
      font-weight: 400;
      color: $color-white;
      padding: 1rem;
      line-height: 3rem;
      
      padding: 2rem;
      justify-content: center;
      margin-top: 2rem;
      margin-right: 0rem;

      &-1 {
        text-align: center;
      }

      &-2 {
        text-align: center;
        margin-right: 0rem;
        margin-left: 0rem;
      }
    }

    &--bullets {
      display: grid;
      grid-row: 2/3;
      grid-template-columns: repeat(2, 1fr);
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-white;
      padding: 1rem;
      line-height: 3rem;

      &-blue {
        margin-left: 3rem;
      }

      &--1 {
        grid-column: 1/2;
        margin-right: 5rem;
        margin-left: 8rem;
      }

      &--2 {
        grid-column: 2/3;
        margin-right: 5rem;
        
      }
    }
  }
}

.btn__cont {
  display: grid;
  

  &-1 {
    justify-content: center;
    align-content: center;
    margin-right: 0;
    grid-row: 3/4;
    grid-column: 1/-1;
    margin-bottom: 15rem;
    margin-top: 5rem;
  }

  &-2 {
    justify-content: center;
    align-content: center;
    margin-left:0rem;
    margin-bottom: 15rem;
  }
}
}

@include respond(phone){
  .service{


    &__details{


      &--description{
      font-size: 1.3rem;
      font-weight: 400;
      padding: 1rem;
      line-height: 3rem;
      
      padding: 2rem;
      justify-content: center;
      margin-top: 2rem;
      margin-right: 0rem;
      
      }

      &--bullets {
        
        font-size: 1.3rem;
        font-weight: 500;
        color: $color-white;
        padding: 1rem;
        line-height: 3rem;
       
  
        &-blue {
          margin-right: 3rem;
        }

        &-pink{
          margin-left: 3rem;
        }
  
        &--1 {
          grid-column: 1/2;
          margin-right: 5rem;
          margin-left: 2rem;
        }
  
        &--2 {
          grid-column: 2/3;
          margin-right: 2rem;
          
          
        }
      }
    }
  }
  .btn__cont {
    display: grid;
    
  
    &-1 {
      justify-content: center;
      align-content: center;
      margin-right: 0;
      grid-row: 3/4;
      grid-column: 1/-1;
      margin-bottom: 20rem;
      margin-top: 0rem;
    }
  
    &-2 {
      justify-content: center;
      align-content: center;
      margin-left:0rem;
      margin-bottom: 15rem;
      
    }
  }
}

@include respond(iphone){
  .service{



    &__details{


      &--description{
      font-size: 1.3rem;
      font-weight: 400;
      padding: 0rem;
      line-height: 3rem;
      
      padding: 2rem;
      justify-content: center;
      margin-top: 2rem;
      margin-right: 0rem;
      
      }

      &--bullets {
        
        font-size: 1.3rem;
        font-weight: 500;
        color: $color-white;
        padding: 1rem;
        line-height: 3rem;
       
  
        &-blue {
          margin-right: 3rem;
        }

        &-pink{
          margin-left: 3rem;
        }
  
        &--1 {
          grid-column: 1/2;
          margin-right: 5rem;
          margin-left: 2rem;
        }
  
        &--2 {
          grid-column: 2/3;
          margin-right: 2rem;
          
          
        }
      }
    }
  }
}